*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

html{
    overflow-x: hidden;
}

p{
    color: #757575;
    font-size: 1.125vw;
    font-weight: 400;
    line-height: 1.875vw;
}

button{
    color: var(--White-Color, #FFF);
    font-size: 1.25vw;
    font-weight: 700;
    padding: 1.15625vw 2.21875vw;
    border: none;
    border-radius: 0.3125vw;
    background-color: #FD6E0A;
}