header{
    background-color: #FFF8F3;
    height: 47.5vw;
    width: 98.9385vw;
    position: relative;
}

header > img{
    position: absolute;
}

#developer{
    height: 95%;
    top: 2.5%;
    left: 2.3%;
}
#hardy{
    height: 80.7646%;
    right: 2.375%;
    bottom: 0%;
}
#hardy-bg{
    height: 61.887694%;
    right: 0%;
    bottom: 0%;
}