main{
    margin: 110px 200px 0px;
    display: flex;
    flex-direction: column;
    gap: 110px;
    text-align: center;
}

.aboutme{
    text-align: center;
    background-color:#FFF8F3;
    padding: 100px 130px 90px;
    border-radius: 10px;
}
.aboutme > h1, .skills-ido h1{
    margin-bottom: 25px;
    font-size: 32px;
    color: #181818;
    font-weight: 700;
}
.aboutme > p, .skills-ido p{
    font-size: 15px;
    line-height: 25px;
    color: #757575;
    font-weight: 400px;
}
.aboutme > ul{
    margin-top: 50px;
    font-size: 15px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: #757575;
    line-height: 22px;
}.aboutme > ul span{
    font-weight: 700;
    color: #474747;
}


.skills-ido{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ido{
    text-align: center;
    padding: 0px 85px;
}

.skills{
    display: flex;
    gap: 20px;
    text-align: left;
}

.skills > div{
    /* text-align: justify; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    gap: 18px;
}

.skills > div > img{
    height: 37px;
    width: 37px;
    margin-bottom: 5px;
}
.skills > div > h3{
    font-size: 17px;
    font-weight: 700;
}
.skills > div > p{
    font-size: 14px;
}

main > h1{
    font-size: 32px;
    font-weight: 700;
    color: #181818;
}

.resumesummary{
    display: flex;
    text-align: left;
}
.resumesummary > article > h3{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 25px;
}

.resumesummary > article{
    width: 50%;
}
.resumesummary > article > div{
    margin-bottom: 50px;
}