main{
    margin: 100px 200px 0px;
}

.aboutme{
    text-align: center;
    background-color:#FFF8F3;
    padding: 100px 130px 90px;
    border-radius: 10px;
}.aboutme > h1{
    margin-bottom: 30px;
    font-size: 25px;
}
.aboutme > p{
    font-size: 15px;
    line-height: 20px;
}
.aboutme > ul{
    margin-top: 50px;
    font-size: 17px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}